{% extends "articulos/base_generic.html" %} {% load static %} {% block title %}<title>Quienes Somos</title>{% endblock %} {% block content %}

<section id="acerca" class="row justify-content-center">
    <h2 class="col-12">Quienes Somos</h2>
    <p class="col-12 col-lg-5 col-md-7">Play store es una empresa especializada en los videojuegos que traemos en formato digital especialmente para ti. Actualizamos constantemente nuestros contenidos para mantenerte al tanto de las últimas novedades.</p>
</section>

<section id="galeriaFotos" class="row justify-content-center">
    <h2 class="col-12">Galeria de imágenes</h2>

    <div class="imglist">
        <a href="img/galeria/hits_big.jpg" data-fancybox="gallery" data-caption="Los mejores juegos">
            <img src="img/galeria/hits_small.jpg" alt="" />
        </a>

        <a href="img/galeria/mk11_big.jpg" data-fancybox=" gallery " data-caption=" Mortal Kombat 11">
            <img src="img/galeria/mk11_small.jpg" alt=" " />
        </a>
    </div>
</section>

{% endblock %}
