{% extends "articulos/base_generic.html" %} 
{% load static %}

<!-- MODIFICANDO TITULO DE LA PAGINA -->
{% block title %}<title>Listar</title>{% endblock %} 

<!-- CONTENIFO HTML -->
{% block content %}

<!--CARGANDO JAVASCRIPT CON CODIGO PATA CONFIRMAR ELIMINACION DE ARTICULO-->
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'articulos/js/articulo_eliminar.js' %}"></script>
{% endblock %}

<div>
    <h2 class="col-12">Lista Articulos</h2>
    {% if listaArticulos %}
    <div class="table-responsive-lg">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for articulo in listaArticulos %}
                <tr>
                    <td scope="row">
                        {% if articulo.img %}
                        <img class="articulos-listar-imagen" src="{{articulo.img.url}}" alt="" />
                        {% else %}
                        <img src="{% static 'articulos/img/articulos/imagen_no_disponible.png' %}" class="articulos-listar-imagen" alt="Imagen no disponible" />
                        {% endif %}
                        {{articulo.nombre}}
                    </td>
                    <td><b>$ {{articulo.precio}}</b></td>
                    <td>{{articulo.stock}}</td>
                    <td>
                        <!-- BOTON MODIFICAR -->
                        <a href="{% url 'articulo-modificar' articulo.id %}">
                            <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
                        </a>
                    </td>
                    <td>
                        <!-- BOTON ELIMINAR -->
                        <a href="#" onclick="confirmarEliminacion( {{articulo.id}} )">
                            <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No existen artículos</p>
    {% endif %}
</div>
{% endblock %}
